@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Playfair Display', serif;
  color: $gray-1;
}

section {
  overflow: hidden;
}

p {
  img {
    max-width: 100%;
  }
}

a {
  text-decoration: none !important;
  color: $gray-1;

  &:focus {
    outline: none !important;
  }

  &:hover {
    color: $gray-1;
  }
}

.site-logo {
  display: inline-block;
  float: left;

  img {
    max-width: 148px;
    height: auto;
    width: 100%;
    margin: 10px 0 10px -5px;
  }
}

figure {
  margin: 2rem 0 1rem 0;
  figcaption {
    em {
      padding: 1.5rem 1rem;
      line-height: 1.8rem;
      display: block;
    &:before, &:after {
      content: '"';
    }
    }
  }
}

article {
  h2 {
    padding-bottom: 1rem;
  }

  .field {
    &[class*="-field-image"] {
      margin-bottom: 1rem;
      max-height: 270px;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &[class*="-field-tags"] {
      font-size: 1rem;
      font-family: 'Ubuntu', sans-serif;
      color: $light-brown-1;
      text-transform: uppercase;
      padding-bottom: 1rem;
    }
  }
}

header {
  background: rgba($white, .95);
  padding: 2.8rem 0;
  min-height: 9rem;
  margin-left: -15px;
  margin-right: -15px;

  &.sticky-top {
    z-index: 500;
  }

  .navigation {
    display: inline-block;
    text-transform: uppercase;

    .menu {
      .menu-item {
        display: inline-block;
        padding: 15px 50px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

main {
  &.container {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}


.page-node-type-article {
  main {
    &.container {
      padding-right: 1rem;
    }
  }
  article {
    padding-right: 2rem;
    .field {
      &[class*="-field-tags"] {
        margin-bottom: 2rem;
      }
    }
  }
}


aside {
  margin-top: 2rem;

  &.layout-sidebar-second {
    .block {
      &.block-views {
        h2 {
          font-size: 1rem;
          font-family: 'Ubuntu', sans-serif;
          color: $light-brown-1;
          text-transform: uppercase;
          padding-bottom: 1rem;
        }

        .item-list {
          ul {
            li {
              color: $gray-1;
              list-style: none;
              padding: 0.5rem 0;
              margin-left: 0;

              .views-field-title {
                display: inline-block;

                &:before {
                  content: "•";
                  padding-right: 10px;
                  color: $light-brown-1;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background: $light-gray-1;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  min-height: 6rem;

  nav {
    &.navigation {
      display: inline-block;
      //float: left;
      .menu {
        margin: 0;
        padding: 1.2rem 0;

        .menu-item {
          display: inline-block;
          padding: 15px 15px;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  #block-footercreated {
    display: inline-block;
    padding: 0;

    p {
      padding: 2.2rem;
      margin-bottom: 0;
    }
  }
}

.block {
  &.block-block-content {
    padding-bottom: 3rem;

    div[class*="-body"] {
      h2 {
        padding-bottom: 0.5rem;

        &:before {
          content: '';
          height: 4px;
          width: 100px;
          background: $gray-1;
          display: block;
          position: relative;
          top: -8px;
        }
      }
    }
  }
}

.block-system-main-block {
  margin-bottom: 3rem;
}

.views-view-grid {
  .clanki-row {
    .clanki-col {
      display: inline-block;
      //max-width: 50%;
      padding: 2rem;


      &:first-child {
        padding-left: 30px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
  }
}
