// Media queries for responsive views

@media (min-width: 48em) {
  header {
    .navigation {
      float: right;
    }

    .site-logo {
      float: left;
    }
  }
}

@media (max-width: 1199.98px) {
  main {
    &.container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media (max-width: 991.98px) {
  main {
    &.container {
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@media (max-width: 767.98px) {
  .site-logo {
    display: block;
    float: none;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  header {
    padding: 1.5rem 0;

    .navigation {
      display: block;
      width: 100%;

      .menu {
        margin: 0;
        margin-top: 1rem;

        .menu-item {
          width: 100%;
          padding: 15px 20px !important;
          display: inline-block;
          text-align: center;
        }
      }
    }
  }

  footer {
    nav {
      &.navigation {
        width: 100%;

        .menu {
          text-align: center;

          .menu-item {
            display: block;
            padding: 15px 15px;

            &:first-child, &:last-child {
              padding-left: inherit;
            }
          }
        }
      }
    }

    #block-footercreated {
      display: block;

      p {
        text-align: center;
        padding: 1.5rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .page-node-type-article {
    article {
      padding-right: 1rem;
    }
  }
}

@media (min-width: 768px) {
  footer {

    #block-footercreated {
      display: inline-block;
      float: right;

      p {
        margin-bottom: 0;
      }
    }
  }
}
