@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Playfair Display", serif;
  color: #626262;
}

section {
  overflow: hidden;
}

p img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: #626262;
}
a:focus {
  outline: none !important;
}
a:hover {
  color: #626262;
}

.site-logo {
  display: inline-block;
  float: left;
}
.site-logo img {
  max-width: 148px;
  height: auto;
  width: 100%;
  margin: 10px 0 10px -5px;
}

figure {
  margin: 2rem 0 1rem 0;
}
figure figcaption em {
  padding: 1.5rem 1rem;
  line-height: 1.8rem;
  display: block;
}
figure figcaption em:before, figure figcaption em:after {
  content: '"';
}

article h2 {
  padding-bottom: 1rem;
}
article .field[class*=-field-image] {
  margin-bottom: 1rem;
  max-height: 270px;
  overflow: hidden;
}
article .field[class*=-field-image] img {
  max-width: 100%;
  height: auto;
}
article .field[class*=-field-tags] {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

header {
  background: rgba(255, 255, 255, 0.95);
  padding: 2.8rem 0;
  min-height: 9rem;
  margin-left: -15px;
  margin-right: -15px;
}
header.sticky-top {
  z-index: 500;
}
header .navigation {
  display: inline-block;
  text-transform: uppercase;
}
header .navigation .menu .menu-item {
  display: inline-block;
  padding: 15px 50px;
}
header .navigation .menu .menu-item:first-child {
  padding-left: 0;
}
header .navigation .menu .menu-item:last-child {
  padding-right: 0;
}

main.container {
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.page-node-type-article main.container {
  padding-right: 1rem;
}
.page-node-type-article article {
  padding-right: 2rem;
}
.page-node-type-article article .field[class*=-field-tags] {
  margin-bottom: 2rem;
}

aside {
  margin-top: 2rem;
}
aside.layout-sidebar-second .block.block-views h2 {
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
aside.layout-sidebar-second .block.block-views .item-list ul li {
  color: #626262;
  list-style: none;
  padding: 0.5rem 0;
  margin-left: 0;
}
aside.layout-sidebar-second .block.block-views .item-list ul li .views-field-title {
  display: inline-block;
}
aside.layout-sidebar-second .block.block-views .item-list ul li .views-field-title:before {
  content: "•";
  padding-right: 10px;
  color: #b4ad9e;
}

footer {
  background: #f0f0f0;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  min-height: 6rem;
}
footer nav.navigation {
  display: inline-block;
}
footer nav.navigation .menu {
  margin: 0;
  padding: 1.2rem 0;
}
footer nav.navigation .menu .menu-item {
  display: inline-block;
  padding: 15px 15px;
}
footer nav.navigation .menu .menu-item:first-child {
  padding-left: 0;
}
footer nav.navigation .menu .menu-item:last-child {
  padding-right: 0;
}
footer #block-footercreated {
  display: inline-block;
  padding: 0;
}
footer #block-footercreated p {
  padding: 2.2rem;
  margin-bottom: 0;
}

.block.block-block-content {
  padding-bottom: 3rem;
}
.block.block-block-content div[class*=-body] h2 {
  padding-bottom: 0.5rem;
}
.block.block-block-content div[class*=-body] h2:before {
  content: "";
  height: 4px;
  width: 100px;
  background: #626262;
  display: block;
  position: relative;
  top: -8px;
}

.block-system-main-block {
  margin-bottom: 3rem;
}

.views-view-grid .clanki-row .clanki-col {
  display: inline-block;
  padding: 2rem;
}
.views-view-grid .clanki-row .clanki-col:first-child {
  padding-left: 30px;
}
.views-view-grid .clanki-row .clanki-col:last-child {
  padding-right: 30px;
}

@media (min-width: 48em) {
  header .navigation {
    float: right;
  }
  header .site-logo {
    float: left;
  }
}
@media (max-width: 1199.98px) {
  main.container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991.98px) {
  main.container {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 767.98px) {
  .site-logo {
    display: block;
    float: none;
  }
  .site-logo img {
    margin: 0 auto;
    display: block;
  }

  header {
    padding: 1.5rem 0;
  }
  header .navigation {
    display: block;
    width: 100%;
  }
  header .navigation .menu {
    margin: 0;
    margin-top: 1rem;
  }
  header .navigation .menu .menu-item {
    width: 100%;
    padding: 15px 20px !important;
    display: inline-block;
    text-align: center;
  }

  footer nav.navigation {
    width: 100%;
  }
  footer nav.navigation .menu {
    text-align: center;
  }
  footer nav.navigation .menu .menu-item {
    display: block;
    padding: 15px 15px;
  }
  footer nav.navigation .menu .menu-item:first-child, footer nav.navigation .menu .menu-item:last-child {
    padding-left: inherit;
  }
  footer #block-footercreated {
    display: block;
  }
  footer #block-footercreated p {
    text-align: center;
    padding: 1.5rem;
  }
}
@media (min-width: 992px) {
  .page-node-type-article article {
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  footer #block-footercreated {
    display: inline-block;
    float: right;
  }
  footer #block-footercreated p {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
